@{
    ViewData["Title"] = "Home Page";
}


<div id="main" role="main" style="background-color: #EFEFEF;">
    <div id="content">
        <div class="col-lg-2 col-sm-2 col-md-2">
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8">
            <div class="lockscreen animated flipInX">
                <div class="logo">
                    <h1 class="semi-bold" style="text-align: center; color: rgba(51, 69, 89, 0.11); font-size: 11vw; font-family: serif; margin-top: 150px; transform: translateX(100px);">
                        <span style="color: rgba(243, 89, 88, 0.16)" class="theme_color"> Cubic!</span>
                        <span style="font-size:70px; color: rgba(243, 89, 88, 0.16)" class="theme_color"> </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
        </div>
    </div>
</div>